body {
    background: url("../images/TwiceBackground.png") no-repeat;
    background-size: cover;

}

#title-image {
    margin-top: -75px;
    max-width: 95%;
}

.panel {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.game-photo {
    align-content: center;
    max-height: 400px;
}


/* Footer */
.github-icon {
    color: #fff;
}

.footer-span {
    border-radius: 15px;
    background: rgba(30,126,255, 0.89);
}